
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Salarystandard_change_success</title>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = '/SalaryGrant/Register_commit';
        }, 3000);
    </script>
</head>
<body>
    <div>
        <table width="100%">
            <tr>
                <td colspan="2">

                    <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记变更 </font>
                </td>
            </tr>
            <tr>
                <td width="49%"> 重新提交成功，需要再次复核!!!</td>
                <td width="51%" align="right">
                    <input type="button"
                           class="BUTTON_STYLE1"
                           onclick="javascript:window.location='Salarystandard_change_list';"
                           value="返回" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

