
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Query</title>
    <script src="~/JS/echarts.js"></script>
    <script src="~/JS/jquery-1.11.1.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/JS/vue.js"></script>
    <link href="~/CSS/table.css" rel="stylesheet" />
</head>
<body>
    <div id="div1">
        <form method="post">
            <table width="100%">
                <tr>
                    <td colspan="2" style="text-align: left">
                        <font color="black">
                            您正在做的业务是:人力资源管理--薪酬发放管理--薪酬发放复核
                        </font>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        薪酬单编号：{{Salary_standard_id}}
                        <input type="hidden" name="salaryGrant.salaryGrantId" value="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        机构：
                        {{SName}}
                    </td>
                </tr>
                <tr v-for="(item,index) in dg">
                    <td style="text-align: left">
                        本机构总人数:{{Count}}
                        <input type="hidden" name="salaryGrant.humanAmount" value="5">
                        ，基本薪酬总数:{{Salary}}<input type="hidden" name="salaryStandardSum" value="" />
                        ，实发总额:<span id="salarySum_sum">{{Salary}}</span>
                        <input type="hidden" id="salary_paid_sum" name="salary_paid_sum" :value="Salary" />
                    </td>
                    <td style="text-align: right;">
                        登记人:{{item.Register}}
                        登记时间：{{item.Regist_time|DateTime}}
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee class="TABLE_STYLE1">
                <tr>
                    <td class="TD_STYLE1">
                        <span>序号</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>档案编号</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>姓名</span>
                    </td>
                    <td class="TD_STYLE1">
                        <span>薪酬基本明细</span>
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        奖励金额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        销售绩效总额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        应扣金额
                    </td>
                    <td class="TD_STYLE1" width="7%">
                        实发金额
                    </td>
                </tr>
                <tr class="TD_STYLE2" v-for="(item,index) in dt">
                    <td>
                        {{index+1}}
                    </td>
                    <td>
                        {{item.Human_id}}
                    </td>
                    <td>
                        {{item.Human_name}}
                    </td>
                    <td>
                        <a href="#myModal" data-toggle="modal" v-on:click="SalaryDetails()">详细内容</a>
                    </td>
                    <td>
                        {{item.Bouns_sum}}
                    </td>
                    <td>
                        {{item.Sale_sum}}
                    </td>
                    <td>
                        {{item.Deduct_sum}}
                    </td>
                    <td>
                        {{item.Salary_paid_sum}}
                    </td>
                </tr>
            </table>
            <br>
            <center>
                <input type="button" style="width: 100px;height: 35px;font-size: 20px;font-weight: bold;border-bottom-style: ridge;cursor: pointer" onclick="javascript:window.history.back();" value="返 回">
            </center>
        </form>
    </div>
    @*薪酬标准单详细信息模态框的开始*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content" style="width:600px;height:100%;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        薪酬标准单详细信息
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="main" style="width: 600px;height:400px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*薪酬标准单详细信息模态框的结束*@

    <script type="text/javascript">
        var echart = echarts.init(document.getElementById("main"));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '薪酬数据统计',
                subtext: '真实有效',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 50,
                top: 20,
                bottom: 30,
            },
            series: [
                {
                    name: '薪酬名称',
                    type: 'pie',
                    radius: '70%',
                    center: ['45%', '60%'],
                    data: [],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0,0,0,0.5)',
                        }
                    }
                }
            ]
        };    
        var vm = new Vue({
            el: "#div1",
            data: {
                dt: [],
                Count: "",
                Salary: "",
                SName: "",
                Salary_standard_id: "",
                RName: "",
                index: "",
                dg: []
            },
            methods: {
                Fill: function () {
                    var v = this;
                    $.ajax({
                        url: "/SalaryGrant/Query",
                        type: "post",
                        success: function (msg) {
                            var result = eval("(" + msg + ")");
                            v.dt = result.dt;
                            v.RName = result.RName;
                            v.SName = result.SName;
                            v.Salary = result.Salary;
                            v.Salary_standard_id = result.Salary_standard_id;
                            v.Count = result.Count;
                            v.dg = result.dg;
                        }
                    });
                },
                SalaryDetails: function () {
                    var v = this;
                    $.ajax({
                        url: "/SalaryGrant/Query2",
                        type: "post",
                        success: function (msg) {
                            console.info(msg);
                            var result = eval("(" + msg + ")");
                            var arr = [];
                            var arr2 = [];
                            for (var i = 0; i < result.length; i++) {
                                //arr.push(result[i]["Item_name"]);
                                //arr2.push(result[i]["Salary"]);
                                arr2.push({ value: result[i]["Salary"], name:result[i]["Item_name"] });
                            }
                            echart.setOption({
                                //legend: {
                                //    data: arr
                                //},
                                series: [{
                                    data: arr2
                                }]
                            });
                        }
                    });
                }
            },
            mounted: function () {
                this.Fill();
            },
            filters: {
                DateTime: function (time) {
                    var t = new Date(time);
                    var n = t.getFullYear();
                    var y = t.getMonth() + 1;
                    var r = t.getDate();
                    return n + "年" + y + "月" + r + "日";
                }
            }
        });
         echart.setOption(option);
    </script>
</body>
</html>

