

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register_choose_picture</title>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <script src="~/JS/jquery-1.11.1.js"></script>
    <script src="~/JS/vue.js"></script>
</head>
<body>
    <form method="post" asp-action="register_choose_picture"   enctype="multipart/form-data">
        <table width="100%">
            <tr>
                <td colspan="2">
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--图片上传</font>
                </td>
            </tr>
            <tr>
                <td width="59%">
                    提交成功，如有照片，请选择上传照片(.jpg、.gif文件)
                    <input type="file" class="FILE_STYLE1" name="file" width="100" multiple/>
                </td>
                <td width="41%" align="right">
                    @*<input type="button" value="上传附件" class="BUTTON_STYLE1" onclick="location.href='register_choose_attachment.html'" />*@
                    <input type="submit" value="完成" class="BUTTON_STYLE1" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
